<mat-card class="mat-elevation-z8">

    <mat-card-title>Новый документ</mat-card-title>
    <mat-card-content>

        <mat-form-field class="input-full-width">
                <input matInput placeholder="Наименование документа" id="name" name="name" [(ngModel)]="name"
                    aria-describedby="name" minlength="1" maxlength="50" matInput (keyup.enter)="onOkClick(name)">
        </mat-form-field>

        <!--<input type="text" id="name" name="name" id="name" class="form-control" [(ngModel)]="name" aria-describedby="name" 
            minlength="1" maxlength="50" matInput placeholder="Наименование документа" />-->
        
        <!--<input type="text" [(ngModel)]="nameDoc.name" id="name" name="name" #name="ngModel" minlength="3" maxlength="50" matInput placeholder="Введите Логин" >-->
            
        <!--<div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
        <div *ngIf="name.errors.minlength">Наименование документа должно быть длиннее 1 символов.</div>
        <div *ngIf="name.errors.maxlength">Наименование документа должно быть не длиннее 50 символов.</div>
        </div>-->
    
        <div *ngIf="isUnCorect">
            <div class="etention">Введите наименование документа.</div>
        </div>
    </mat-card-content>
</mat-card>

<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Отмена</button>
    <button mat-button color="primary" (click)="onOkClick(name)" cdkFocusInitial>Ok</button>
</div>