<mat-card class="mat-elevation-z8">

    <mat-card-title>Новый документ</mat-card-title>
    <mat-card-content>

        <mat-form-field class="input-full-width">
                <input matInput placeholder="Наименование документа" id="name" name="name" [(ngModel)]="name"
                    aria-describedby="name" minlength="1" maxlength="50" matInput (keyup.enter)="onOkClick(name)">
        </mat-form-field>
    
        <div *ngIf="isUnCorect">
            <div class="etention">Введите наименование документа.</div>
        </div>
    </mat-card-content>
</mat-card>

<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Отмена</button>
    <button mat-button color="primary" (click)="onOkClick(name)" cdkFocusInitial>Ok</button>
</div>