<h1 mat-dialog-title> Новый документ </h1>

<div mat-dialog-content>
  <mat-form-field class="input-full-width">
    <input matInput placeholder="Наименование документа" [(ngModel)]="name"
                    aria-describedby="name" minlength="1" maxlength="50" matInput (keyup.enter)="onOkClick(name)">
  </mat-form-field>
</div>

<div mat-dialog-actions align="end">
    <button mat-stroked-button class="m-2" (click)="onNoClick()">Отмена</button>
    <button mat-stroked-button color="primary" (click)="onOkClick(name)" cdkFocusInitial>Ok</button>
</div>