<div>
        <div class="filter div-padding">
            <div class="column1">
                <div class="form-inline">
                    <div>
                        <label class="lable-nom" for="nomer" id="nomerLable">№ документа:</label>
                        <input type="text" name="nomer" id="nomer" class="form-control" [(ngModel)]="filter.nomer" #nomer="ngModel" aria-describedby="nomerLable" placeholder="№ документа" />
                    </div>
                    <div>
                        <label class="lable-nam" for="name" id="nameLable">Значение:</label>
                        <input type="text" name="name" id="name" class="form-control" [(ngModel)]="filter.name" #name="ngModel" aria-describedby="nameLable" placeholder="Значение" />
                    </div>
                    <div>
                        <label class="lable-st" for="status" id="statusLable">Статус:</label>
                        <select class="form-control sel-tb" id="statusSelect" name="statusSelect" [(ngModel)]="statusSelect">
                            <option selected="selected">Все объекты</option>
                            <option>Черновик</option>
                            <option>Сформирован</option>
                            <option>На утверждении</option>
                            <option>Утвержден</option>
                            <option>Проведен</option>
    <<<<<<< HEAD
    =======
                            
    >>>>>>> test2
                          </select>
                       <!--<input type="text" name="status" id="status" class="form-control" [(ngModel)]="filter.status" #status="ngModel" aria-describedby="statusLable" placeholder="Статус" />--> 
                    </div>
                </div>
                <div class="form-inline">
                    <div>
                        <label class="lable-s" for="startDate" id="dateStartLable">Дата с:</label>
                        <input type="date" name="startDate" id="startDate" class="form-control" [(ngModel)]="filter.startDate" #startDate="ngModel" aria-describedby="dateStartLable" />
                    </div>
                    <div>
                        <label class="lable-f" for="finishDate" id="dateFinishLable">по:</label>
                        <input type="date" name="finishDate" id="finishDate" class="form-control" [(ngModel)]="filter.finishDate" #finishDate="ngModel" aria-describedby="dateFinishLable" />
                    </div>
                    <div>
                        <button type="input" class="btn btn-success button-bottom" data-toggle="tooltip" data-placement="bottom" title="Отобрать документы"
                            (click)="onSendFilter(filter)" >Отобрать</button>
                    </div>
                    <div>
                        <button type="input" class="btn btn-warning button-bottom" data-toggle="tooltip" data-placement="bottom" title="Очистить фильтр"
                            (click)="onClearFilter()" >Очистить</button>
                    </div>
                </div>              
            </div>
            <div class="column2">
                <div>
                    <label>Отобрано:</label>
                    <div class="form-control out-data doc-td">{{allSelected}}</div>
                </div>
                <div>
                    <label>Сумма:</label>
                    <div class="form-control out-data doc-td">{{sumSelected | number:'':'fr-FR'}}</div>
                </div>
            </div>
            <div class="column2">
                <!--<div>
                    <button type="button" id="newdoc" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" title="Создать новый документ"
                        (click)="onCreateDocum()" >Новый документ</button>
                </div>-->
                <div>
                    <button type="button" id="merge" class="btn btn-success" *ngIf="isSelected" data-toggle="tooltip" data-placement="bottom" title="Объединить документы"
                        (click)="onMerge()" >Объединить</button>
                </div>
            </div>        
        </div>
        <table class="table table-hover mat-elevation-z8">
                <colgroup>
                    <col span="1" style="width: 3%;">
                    <col span="1" style="width: 10%;">
                    <col span="1" style="width: 20%;">
                    <col span="1" style="width: 15%;">
                    <col span="1" style="width: 13%;">
                    <col span="1" style="width: 13%;">
                    <col span="1" style="width: 13%;">
                    <col span="1" style="width: 13%;">
                </colgroup>
            <thead>
                <tr>
                    <th scope="col"><mat-checkbox *ngIf="isSelected" [(ngModel)]="isSelected" (change)="onResetCheck($event)"></mat-checkbox></th>
                    <th scope="col">№ Документа</th>
                    <th scope="col">Наименование</th>
                    <th scope="col">Статус</th>
                    <th scope="col">Дата создания</th>
                    <th scope="col">Дата сохраниения</th>
                    <th scope="col">Пользователь</th>
                    <th scope="col">Сумма</th>
                </tr>
            </thead>
            <tbody>
            <tbody *ngIf="docsResponse">
                <tr *ngFor="let doc of docsResponse.docList" >
                    <td><mat-checkbox [(ngModel)]="selectedChecked[doc[0]]" (change)="onCheck($event, doc[0])"></mat-checkbox></td>
                    <td scope="row" (click)="onSelection(doc[0])">{{doc[0]}}</td>
                    <td scope="row" (click)="onSelection(doc[0])">{{doc[1]}}</td>
                    <!-- state -->
                    <td scope="row" (click)="onSelection(doc[0])" 
                        [ngClass]="{'tr-ch': doc[2]==='черновик', 'tr-sf': doc[2]==='сформирован', 'tr-nu': doc[2]==='на утверждении', 
                                    'tr-ut': doc[2]==='утвержден', 'tr-pr': doc[2]==='проведен'}">
                        {{doc[2]}}
                    </td>
                    <td scope="row" (click)="onSelection(doc[0])">{{doc[3]}}</td>
                    <td scope="row" (click)="onSelection(doc[0])">{{doc[4]}}</td>
                    <td scope="row" (click)="onSelection(doc[0])">{{doc[5]}}</td>
                    <td scope="row" (click)="onSelection(doc[0])">{{doc[6]}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    