button {
    min-width: 3em;
    box-shadow: 1px 2px 5px #000000;   
}
span {
    text-align: right;
    min-width: 15em;
    padding-right: 5%;
    color: aliceblue;
}
/*
span {
    margin-right: 1%;
}
.my-nav {
    background-color: #828299;
}
.fill-space {
    flex: 1 1 auto;
}

a {
    color: #ececec;
}
*/