<mat-card>
    <mat-card-title >Детальный просмотр данных</mat-card-title>
    <!-- cdkFocusInitial -->
    <div class="form">
        <div class="contaner-left">
    
            <div class="form-inline" *ngIf="isOpenDetalFromWorkForm">
                <div class="contaner-min-left provider">
                    <label>Контрагент:</label>
                </div>
                <div class="contaner-min-right">
                    {{data.provider}}
                </div>
            </div>

            <div class="form-inline" *ngIf="isOpenDetalFromNavbar">
                <button mat-button type="button" name="partner" (click)="onOpenPartnerDialog()" data-toggle="tooltip" data-placement="bottom" title="Выбор контрагентов из списка">
                    <img src="../../assets/agent2.png" width="20" height="20" />Выбрать контрагента:
                </button>
            </div>
            
            <div class="form-inline br">
                <div class="id-label"><label>УНП:</label></div>
                <div *ngIf="isOpenDetalFromWorkForm">{{data.inn}}</div>
            </div>
    
            <div class="form-inline">

                <label>с:</label>
                <input type="date" name="dateFrom" id="date" [(ngModel)]="detailDate.dateFrom" class="form-control" (keyup.enter)="onSetFocusForDate()"/>

                <label>по:</label>
                <input type="date" name="dateTo" id="date" [(ngModel)]="detailDate.dateTo" #dateToElement class="form-control" (keyup.enter)="onSetFocusForEnter()"/>
                
                <div class="bt-send">
                        <!-- cdkFocusInitial mat-button -->
                    <button class="btn btn-light" (click)="onSendDate()" #btSendElement>
                        <img src="../../assets/arrow1.png" width="20" height="20" />
                    </button>
                    <i class="fas fa-arrow-circle-right"></i>
                </div>
                
            </div>

            <div class="form-inline">
                <div>
                    <div class="form-inline">
                        <div class="id-label-saldo"><label>Начальное сальдо:</label></div>
                        {{detailResponse.startSaldo}}
                    </div>
                        
                    <div class="form-inline">
                        <div class="id-label-saldo"><label>Конечное сальдо:</label></div>
                        {{detailResponse.endSaldo}}
                    </div>
                </div>
            </div>

            <div class="caption-table"><label>Акт сверки</label></div>
            <br />
            <div class="table-container mat-elevation-z8">
                <table mat-table [dataSource]="dataSourceIn" class="table-hover">

                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef> Дата </th>
                        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                    </ng-container>

                    <ng-container matColumnDef="nomer">
                        <th mat-header-cell *matHeaderCellDef> № Документа </th>
                        <td mat-cell *matCellDef="let element"> {{element.nomer}} </td>
                    </ng-container>

                    <ng-container matColumnDef="sort">
                        <th mat-header-cell *matHeaderCellDef> Вид операции </th>
                        <td mat-cell *matCellDef="let element" [ngClass]="{'td-red': element.sort==='Возврат' || element.sort==='Продажа по взаимозачету'}"> {{element.sort}} </td>
                    </ng-container>

                    <ng-container matColumnDef="summ">
                        <th mat-header-cell *matHeaderCellDef> Сумма </th>
                        <td mat-cell *matCellDef="let element"> {{element.summ}} </td>
                    </ng-container>                
            
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsIn; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsIn;"></tr>
                </table>
            </div>

        </div>
  
        <div class="contaner-right">
            <div class="caption-table"><label>Внести оплату</label></div>
            <br />
            <div class="table-container mat-elevation-z8">
                <table mat-table [dataSource]="dataSourceOut" class="table-hover">
            
                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef> Дата оплаты </th>
                        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                    </ng-container>

                    <ng-container matColumnDef="summ">
                        <th mat-header-cell *matHeaderCellDef> Сумма оплаты </th>
                        <td mat-cell *matCellDef="let element" > {{element.summ}} </td>
                    </ng-container>

                    <ng-container matColumnDef="nomer">
                        <th mat-header-cell *matHeaderCellDef> № платежного поручения </th>
                        <td mat-cell *matCellDef="let element"> {{element.nomer}} </td>
                    </ng-container>            
            
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsOut; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsOut;"
                        (click)="onSelectRowClick(row)"
                        [ngClass]="{'select-row': selectedRowIndex == row.id}"></tr>
                </table>
            </div>

            <div class="work-panel">
                <table>
                    <tr>
                        <td><label for="nsumm">Сумма:</label></td>
                        <td><input type="number" id="nsumm" class="form-control" [(ngModel)]="newSumm" (change)="onSelectSumm()"/></td>
                    </tr>
                    <tr>
                        <td><label for="npd" class="label-input">№ плат. поручения:</label></td>
                        <td><input type="text" id="npd" class="form-control" [(ngModel)]="newNum" (change)="onSelectNum()"/></td>
                    </tr>      
                        <tr>
                        <td><label for="ndate" class="label-input">Дата:</label></td>
                        <td><input type="date" id="ndate" class="form-control" [(ngModel)]="newDate" (change)="onSelectDate()"/></td>
                    </tr>              
                </table>
                <div mat-dialog-actions>
                    <button mat-button [disabled]="true" *ngIf="!isNewPay" data-toggle="tooltip" data-placement="bottom" title="Введите данные в поля ввода">Внести платеж</button>

                    <button mat-button *ngIf="isNewPay" 
                        class="btn btn-default"
                        mwlConfirmationPopover
                        [popoverMessage]="'Вы действительно хотите <b>добовить</b> введенный платеж?'"
                        [confirmText]="confirmText"
                        [cancelText]="cancelText"
                        placement="left"
                        (confirm)="onPostNewPay()"
                        (cancel)="cancelClicked = true"
                        title="Добовить введенный платеж">
                        Внести платеж
                    </button>   
                    <button mat-button [disabled]="true" *ngIf="!isSelectedDeleteRow" data-toggle="tooltip" data-placement="bottom" title="Выберите платеж для удаления">Удалить платеж</button>

                    <button mat-button *ngIf="isSelectedDeleteRow" 
                        class="btn btn-default"
                        mwlConfirmationPopover
                        [popoverMessage]="'Вы действительно хотите <b>удалить</b> выбранный платеж?'"
                        [confirmText]="confirmText"
                        [cancelText]="cancelText"
                        placement="left"
                        (confirm)="onDeleteRow()"
                        (cancel)="onCancelDeleteRow()"
                        title="Удалить выбранный платеж">
                        Удалить платеж
                    </button>

                </div>
            </div>

        </div>
    </div>
   
    <div mat-dialog-actions class="foot">
         <!-- cdkFocusInitial -->
        <button class="foot-but" mat-button color="primary" (click)="onOkClick()">Закрыть</button>
    </div>

</mat-card>
<div>
    <table>
        <tr>
            <td><label>Итого приходов: {{detailResponse.prixod}}</label></td>
            <td><label>Итого возвратов: {{detailResponse.vozvrat}}</label></td>
            <td><label>Итого взаимозачетов: {{detailResponse.vzaim}}</label></td>
            <td><label>Итого оплачено: {{detailResponse.oplat}}</label></td>
        </tr>
    </table>
</div>