<div class="form-inline search-panel">

    <ng-container *ngIf="!searchedContragent">
        <button mat-stroked-button (click)="onOpenSelectContragentDialog()">
            Выбрать контрагента
            <mat-icon>open_in_browser</mat-icon>
        </button>
    </ng-container>

    <ng-container *ngIf="searchedContragent">

        <div class="contr-field">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Контрагент</mat-label>
                <input matInput placeholder="" [(ngModel)]="searchedContragent" readonly>
                <!-- <mat-icon>open_in_browser</mat-icon> -->
            </mat-form-field>
        </div>

        <button mat-stroked-button (click)="onOpenSelectContragentDialog()">
            <mat-icon>open_in_browser</mat-icon>
        </button>
    </ng-container>

    <small style="color: rgba(0, 0, 0, 0.555);"> Дата начала договора: </small>

    <mat-form-field appearance="outline" class="date">
        <mat-label>От</mat-label>
        <input matInput [matDatepicker]="picker1" id="input-givedate" [(ngModel)]="date_from" placeholder="дд.мм.гггг">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" class="date">
        <mat-label>До</mat-label>
        <input matInput [matDatepicker]="picker2" id="input-givedate" [(ngModel)]="date_to" placeholder="дд.мм.гггг">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>

    <button class="bt-search" mat-stroked-button (click)="onSearch()"> 
        <mat-icon>search</mat-icon> 
    </button>

    <button class="bt-search" mat-stroked-button (click)="onClear()"> 
        <mat-icon>clear</mat-icon> 
    </button>

</div>

<div class="table-container">
    <table mat-table [dataSource]="dataList" class="table-hover" matSort (matSortChange)="sortData($event)">

        <ng-container matColumnDef="contragent">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="manager"> Поставщик </th>
            <td mat-cell *matCellDef="let element" class="manager"> {{element.contragent}} </td>
        </ng-container>

        <ng-container matColumnDef="date_start">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="manager"> Дата начала договора </th>
            <td mat-cell *matCellDef="let element" class="manager"> {{element.date_start | slice:0:10}} </td>
        </ng-container>

        <ng-container matColumnDef="date_end">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="manager"> Дата окончания договора </th>
            <td mat-cell *matCellDef="let element" class="manager"> {{element.date_end | slice:0:10}} </td>
        </ng-container>

        <ng-container matColumnDef="summa">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="manager"> Сумма договора </th>
            <td mat-cell *matCellDef="let element" class="manager"> {{element.summa}} {{element.summa_type}}  </td>
        </ng-container>

        <ng-container matColumnDef="date_post">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="manager"> Дата передачи оригинала договора </th>
            <td mat-cell *matCellDef="let element" class="manager"> {{element.date_post | slice:0:10}} </td>
        </ng-container>

        <ng-container matColumnDef="date_get">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="secretary"> Дата получения оригинала договора </th>
            <td mat-cell *matCellDef="let element"class="secretary"> {{element.date_get | slice:0:10}} </td>
        </ng-container>

        <ng-container matColumnDef="file_link">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="secretary"> Ссылка </th>
            <td mat-cell *matCellDef="let element" class="secretary"> 
                <a href="http://paywin/{{element.file_link}}" target="_blank">{{element.file_link}}</a>         
            </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell id="action" *matHeaderCellDef style="background-color: #ececec;"> 

                <button mat-mini-fab color="primary" (click)="onOpenNewRow()" *ngIf="group.toLowerCase().includes(positionHead)">
                    <mat-icon>add</mat-icon>
                </button>
                <!-- "group === 'Руководитель направления'" -->
            </th>
            <td mat-cell *matCellDef="let element"  style="background-color: #ececec;"> 
                <ng-container *ngIf="element.contragent">
                    <button mat-mini-fab [matMenuTriggerFor]="menu" class="purple-gradient">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="onOpenEditorManager(element)" *ngIf="group.toLowerCase().includes(positionHead)">
                            <mat-icon style="color: rgb(210, 136, 0);">edit</mat-icon>
                            <span style="color: rgb(210, 136, 0);">Редактировать</span>
                        </button>

                        <button mat-menu-item (click)="onOpenEditorOffic(element)" *ngIf="group.toLowerCase().includes(positionOffice)">
                            <mat-icon style="color: rgb(210, 136, 0);">edit</mat-icon>
                            <span style="color: rgb(210, 136, 0);">Редактировать</span>
                        </button>

                        <button mat-menu-item (click)="onOpenHistory(element)">
                            <mat-icon style="color: rgb(0, 151, 210);">history</mat-icon>
                            <span style="color: rgb(0, 151, 210);">История</span>
                        </button>

                        <!-- <button mat-menu-item 
                            id="butt-cancel"
                            color="primary"
                            class="btn btn-default"
                            mwlConfirmationPopover
                            [popoverMessage]="'Вы действительно хотите <b>удалить</b> подзаказ?'"
                            [confirmText]="'Да'"
                            [cancelText]="'Нет'"
                            placement="left"
                            (click)="$event.stopPropagation();"
                            (confirm)="onDelete(element)"
                            (cancel)="cancelClicked = true">
                            <mat-icon style="color: red;">delete_forever</mat-icon>
                            <span style="color: red;">Удалить</span>
                        </button>  -->
                    </mat-menu>
                </ng-container>
            </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>