.attention {
    color: rgb(179, 34, 34);
}
#wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* #content {
    position:relative;
    padding-bottom:30px;
} */
p {
    text-align: center;
}
h1 {
    text-align: center;
}