<h1 mat-dialog-title class="attention" *ngIf="!isUpload"> Внимание! </h1>
<h1 mat-dialog-title *ngIf="isUpload"> Внимание! </h1>

<div mat-dialog-content id="content">
    <div *ngIf="isNull">
      <!-- <div class="attention">Что то пошло не так! Попробуйте снова позже.</div> -->
      <p class="attention">Что то пошло не так! Попробуйте снова позже.</p>
    </div>

    <div *ngIf="isUndefined">
      <!-- <div class="attention">Что то пошло не так! Попробуйте снова позже.</div> -->
      <p class="attention">Что то пошло не так! Попробуйте снова позже.</p>
    </div>

    <div *ngIf="isFalse">
        <!-- <div class="attention">Недостаточно прав на выполнение операции.</div> -->
        <p class="attention">Недостаточно прав на выполнение операции.</p>
    </div>

    <div *ngIf="isError">
      <div class="attention">Что то пошло не так! Попробуйте снова.</div>
    </div>

    <div *ngIf="isDate">
        <div class="attention">Задайте две даты!</div>
    </div>

    <div *ngIf="isConnectionLoss">
        <div class="attention">Потеря соединения с сервером... Ожидайте</div>
        <div class="attention">Телефон технической поддержки 911</div>
    </div>

    <div *ngIf="isClose">
        <div class="attention">Вы действительно хотите закрыть payment?</div>
    </div>

    <div *ngIf="isUpload">
      <p>Ваш файл загружен.</p>
    </div>

    <div *ngIf="isMessage">
      <p>{{data.message}}</p>
    </div>
</div>

<div id="wrapper">
  <button mat-button color="primary" (click)="onOkClick()" cdkFocusInitial>Ok</button>
</div>