<h1 mat-dialog-title class="attention" *ngIf="isNull"> Внимание! </h1>
<h1 mat-dialog-title class="attention" *ngIf="isUndefined"> Внимание! </h1>
<h1 mat-dialog-title class="attention" *ngIf="isFalse"> Внимание! </h1>
<h1 mat-dialog-title class="attention" *ngIf="isError"> Внимание! </h1>
<h1 mat-dialog-title class="attention" *ngIf="isDate"> Внимание! </h1>
<h1 mat-dialog-title class="attention" *ngIf="isConnectionLoss"> Внимание! </h1>
<h1 mat-dialog-title class="attention" *ngIf="isClose"> Внимание! </h1>
<h1 mat-dialog-title *ngIf="isUpload"> Внимание! </h1>
<h1 mat-dialog-title *ngIf="isMessage"> Внимание! </h1>

<div mat-dialog-content id="content">
    <div *ngIf="isNull">
      <!-- <div class="attention">Что то пошло не так! Попробуйте снова позже.</div> -->
      <p class="attention">Что то пошло не так! Попробуйте снова позже.</p>
    </div>

    <div *ngIf="isUndefined">
      <!-- <div class="attention">Что то пошло не так! Попробуйте снова позже.</div> -->
      <p class="attention">Что то пошло не так! Попробуйте снова позже.</p>
    </div>

    <div *ngIf="isFalse">
        <!-- <div class="attention">Недостаточно прав на выполнение операции.</div> -->
        <p class="attention">Недостаточно прав на выполнение операции.</p>
    </div>

    <div *ngIf="isError">
      <p class="attention">Что то пошло не так! Попробуйте снова.</p>
    </div>

    <div *ngIf="isDate">
        <p class="attention">Задайте две даты!</p>
    </div>

    <div *ngIf="isConnectionLoss">
        <p class="attention">Потеря соединения с сервером... Ожидайте</p>
        <p class="attention">Телефон технической поддержки 911</p>
    </div>

    <div *ngIf="isClose">
        <p class="attention">Вы действительно хотите закрыть payment?</p>
    </div>

    <div *ngIf="isUpload">
      <p>Ваш файл загружен.</p>
    </div>

    <div *ngIf="isMessage">
      <p>{{data.message}}<a routerLink="/mydocs" (click)="onOkClick()">Моих документах.</a></p>
      <!-- <a routerLink="/mydocs" (click)="onOkClick()">Мои документы</a> -->
    </div>
</div>

<div id="wrapper">
  <button mat-button color="primary" (click)="onOkClick()" cdkFocusInitial>Ok</button>
</div>