<mat-card class="mat-elevation-z8">

    <mat-card-title class="etention"  *ngIf="!isUpload">Внимание!</mat-card-title>
    <mat-card-title class="etention"  *ngIf="isUpload">Внимание!</mat-card-title>
    <mat-card-content>
  
        <div *ngIf="isNull">
          <div class="etention">Что то пошло не так! Попробуйте снова позже.</div>
        </div>

        <div *ngIf="isUndefined">
          <div class="etention">Что то пошло не так! Попробуйте снова позже.</div>
        </div>

        <div *ngIf="isFalse">
            <div class="etention">Недостаточно прав на выполнение операции.</div>
        </div>

        <div *ngIf="isError">
          <div class="etention">Что то пошло не так! Попробуйте снова.</div>
        </div>

        <div *ngIf="isDeleteDoc">
            <div class="etention">Вы действительно хотите удалить документ?</div>
        </div>

        <div *ngIf="isDeleteRow">
          <div class="etention">Вы действительно хотите удалить запись?</div>
        </div>

        <div *ngIf="isDate">
            <div class="etention">Задайте две даты!</div>
        </div>

        <div *ngIf="isConnectionLoss">
            <div class="etention">Потеря соединения с сервером... Ожидайте</div>
            <div class="etention">Телефон технической поддержки 911</div>
        </div>

        <div *ngIf="isClose">
            <div class="etention">Вы действительно хотите закрыть payment?</div>
        </div>

        <div *ngIf="isPost">
          <div class="etention">Вы действительно хотите создать новый платеж?</div>
        </div>

        <div *ngIf="isUpload">
            Ваш файл загружен.
        </div>
        
    </mat-card-content>
</mat-card>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Отмена</button>
  <button mat-button color="primary" (click)="onOkClick()" cdkFocusInitial>Ok</button>
</div>