<table class="table table-bordered mat-elevation-z8">
    <thead>
        <tr>
            <th scope="col">Наименование</th>
            <!-- <th scope="col">Тип</th> -->
            <th scope="col">Размер файла</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr id="row" *ngFor="let element of myDocs.uploadList">
            <td scope="row">{{element.filename}}</td>
            <td scope="row">{{element.size}}</td>
            <td scope="row">

                <div class="form-inline" *ngIf="element.ready">
                    {{element.ready}} %
                    <mat-spinner strokeWidth="3" [diameter]="25"></mat-spinner>
                </div>

                <div class="form-inline" *ngIf="!element.ready">

                    <button mat-button (click)="onDownload(element.key, element.filename)">
                        <div class="icon">
                            <mat-icon [inline]="true">cloud_download</mat-icon>
                        </div>
                    </button>

                    <button mat-button
                        class="btn btn-default"
                        mwlConfirmationPopover
                        [popoverMessage]="'Вы действительно хотите <b>удалить</b> выбранный документ?'"
                        [confirmText]="confirmText"
                        [cancelText]="cancelText"
                        placement="left"
                        (confirm)="onDelete(element.key)"
                        (cancel)="cancelClicked = true"
                        title="Удалить выбранный документ из базы">
                        <div class="icon">
                            <mat-icon [inline]="true">delete</mat-icon>
                        </div>
                    </button>

                </div>
            </td>
        </tr>
    </tbody>
</table>