<mat-card class="mat-elevation-z8">
    <mat-card-title>Выбор контрагента</mat-card-title>
    <div class="form-inline">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Поиск контрагента" id="inputSearch" name="inputSearch" #inputSearch>
        </mat-form-field>
        <button mat-button (click)="onSearch(inputSearch)" >Искать</button>
    </div>
    <br />
    <div class="example-container">
        Доступные контрагенты
      
        <div
            cdkDropList
            #todoList="cdkDropList"
            [cdkDropListData]="todo"
            [cdkDropListConnectedTo]="[doneList]"
            class="example-list"
            (cdkDropListDropped)="drop($event)"
            (dblclick)="dblclickMove($event.target.innerText, 'done', 'todo')">
            <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
        </div>

    </div>

    <div class="example-container">
        Выбранные контрагенты
      
        <div
            cdkDropList
            #doneList="cdkDropList"
            [cdkDropListData]="done"
            [cdkDropListConnectedTo]="[todoList]"
            class="example-list"
            (cdkDropListDropped)="drop($event)"
            (dblclick)="dblclickMove($event.target.innerText, 'todo', 'done')">
            <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
        </div>

    </div>
</mat-card>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Отмена</button>
    <button mat-button color="primary" (click)="onOkClick()" cdkFocusInitial>Ok</button>
  </div>

<!--<div class="example-container">
      <h2>To do</h2>
    
      <div
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="todo"
        [cdkDropListConnectedTo]="[doneList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
        (dblclick)="dblclickMove($event.target.innerText, 'done', 'todo')">
        <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
      </div>
    </div>
    
    <div class="example-container">
      <h2>Done</h2>
    
      <div
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="done"
        [cdkDropListConnectedTo]="[todoList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
        (dblclick)="dblclickMove($event.target.innerText, 'todo', 'done')">
        <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
      </div>
    </div>-->
