<div class="filter">
    <div class="column1">
        
        <div class="form-inline line-margin">
            <div>
                <label class="lable-nom">№ док.:</label>
                <div class="form-control output-nom">{{docEdit.docNum}}</div>
            </div>
            <div>
                <label class="lable-nam">Наименоваие:</label>
                <div class="form-control output-name">{{docEdit.docName}}</div>
            </div>
            <div>
                <label class="lable-dat">Дата создания:</label>
                <div class="form-control output-date">{{docEdit.docDate}}</div>
            </div>
            <div>
                <label class="lable-summ">Сумма:</label>
                <div class="form-control output-sum">{{docEdit.docSum}}</div>
            </div>
        </div>
        <div class="form-inline">

            <button type="button" class="btn btn-light button-contr" name="partner" (click)="onOpenPartnerDialog()" data-toggle="tooltip" data-placement="bottom" title="Выбор контрагентов из списка">
                <img src="../../assets/agent2.png" width="20" height="20" />Выбрать контрагентов
            </button>

            <button type="button" class="btn btn-light" (click)="onOpenUpdateForm()" data-toggle="tooltip" data-placement="bottom" title="Обновить данные">
                Обновить данные
            </button>

            <div class="form-inline import-marg">

                <label class="lab-im">Импорт данных:</label>

                <button type="file" class="btn btn-light button-icon" name="" (click)="openImportDialog()" data-toggle="tooltip" data-placement="bottom" title="Импорт платежных поручений">
                    <img src="../../assets/Excel_logo.png" width="26" height="26" />
                </button>

                <label class="lab-ex">Экпорт данных:</label>

            </div>
        </div>

    </div>  

    <div class="column2">

        <div class="form-inline line-margin">

            <button type="button" class="btn btn-success button-icon" name="" *ngIf="!isHeld" (click)="openSaveDialog(docEdit.docNum)" data-toggle="tooltip" data-placement="bottom" title="Сохранить документ">
                <img src="../../assets/save-icon1.png" width="20" height="20" />
            </button>

            <button type="button" *ngIf="!isHeld"
                    class="btn btn-danger button-icon"
                    mwlConfirmationPopover
                    [popoverMessage]="'Вы действительно хотите <b>удалить</b> документ?'"
                    [confirmText]="confirmText"
                    [cancelText]="cancelText"
                    placement="left"
                    (confirm)="onDelete(docEdit.docNum)"
                    (cancel)="cancelClicked = true"
                    title="Удалить документ">
                    <img src="../../assets/delete-512.png" width="20" height="20" />
            </button> 

        </div>

        <div class="form-inline">

            <button type="button" class="btn btn-light button-icon" (click)="onExportOneC()" name="" data-toggle="tooltip" data-placement="bottom" title="Импорт документа в 1С">
                <img src="../../assets/icons8-1с-30.png" width="26" height="26" />
            </button>

            <button type="button" class="btn btn-light button-icon" (click)="onExportPint()" name="" data-toggle="tooltip" data-placement="bottom" title="Печать">
                    <img src="../../assets/print1.png" width="26" height="26" />
            </button>

        </div>
    </div>            

</div>
<div class="table-scroll">
    
<table class="table table-hover table-bordered mat-elevation-z8">
   <colgroup>
        <col span="1" style="width: 10%;">
        <col span="1" style="width: 5%;">
        <col span="1" style="width: 5%;">
        <col span="1" style="width: 5%;">
        <col span="1" style="width: 5%;">
        <col span="1" style="width: 5%;">
        <col span="1" style="width: 10%;">
        <col span="1" style="width: 10%;">
        <col span="1" style="width: 10%;">
        <col span="1" style="width: 25%;">
        <col span="1" style="width: 2%;">
        <col span="1" style="width: 2%;">
    </colgroup>
    <thead>
        <tr>
            <th scope="col">Контрагент</th>
            <th scope="col">УНП</th>
            <th scope="col">Сальдо</th>
            <th scope="col">Последняя оплата</th>
            <th scope="col">Остатки</th>
            <th scope="col">Задолжность</th>
            <th scope="col">Сумма оплаты</th>
            <th scope="col">Примечание</th>
            <th scope="col">№ платежного поручения</th>
            <th scope="col">Договор</th>
            <th scope="col">Выбрать</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr id="row" *ngFor="let doc of docEdit.docBody" [ngClass]="{'tr-red': doc[11]==='red', 'tr-yellow': doc[11]==='yellow', 'tr-white': doc[11]==='white'}">
            <!-- Контрагент -->
            <td scope="row" id="click" (dblclick)="openDetailView(doc[1], doc[0])" >{{doc[0]}}</td>
            <!-- УНП -->
            <td>{{doc[1]}}</td>
            <!-- <td>{{doc[2]}}</td> -->
            <td class="doc-td ">{{doc[2] | number:'':'fr-FR'}}</td> 
             <!-- Последняя оплата -->
            <td>{{doc[3]}}</td>
            <!-- Остатки -->
            <td class="doc-td ">{{doc[4] | number:'':'fr-FR'}}</td> 
            <!-- Задолжность -->
            <td class="doc-td ">{{doc[5] | number:'':'fr-FR'}}</td> 
            <!-- Сумма оплаты -->
            <td><input currencyMask class="form-control" [(ngModel)]="doc[6]" [options]="{ prefix: '', thousands: ' ', decimal: ',' }"
                [ngClass]="{'tr-red': doc[11]==='red', 'tr-yellow': doc[11]==='yellow', 'tr-white': doc[11]==='white'}"/></td>
            <!-- Примечание -->
            <!-- <td><input type="text" class="form-control" required [(ngModel)]="doc[7]" 
                [ngClass]="{'tr-red': doc[11]==='red', 'tr-yellow': doc[11]==='yellow', 'tr-white': doc[11]==='white'}"/></td> -->
            <!-- № платежного поручения -->
            <td><input type="text" class="form-control" required [(ngModel)]="doc[8]" (change)="onEnterChange($event.target.value, testdata)" 
                [ngClass]="{'tr-red': doc[11]==='red', 'tr-yellow': doc[11]==='yellow', 'tr-white': doc[11]==='white'}"/></td>
            <!-- Договор -->
            <td>{{doc[9]}}</td>
            <!-- Выбрать -->
            <td><button type="button" class="btn btn-primary button-table" (click)="openOrderDialog(doc[0], doc[10])" title="Выбрать договор">Договор</button></td>
            <td>
                <button type="button"
                    class="btn btn-danger"
                    mwlConfirmationPopover
                    [popoverMessage]="'Вы действительно хотите <b>удалить</b> выбранную запись?'"
                    [confirmText]="confirmText"
                    [cancelText]="cancelText"
                    placement="left"
                    (confirm)="deleteItem(doc[10])"
                    (cancel)="cancelClicked = true"
                    title="Удалить выбранную запись">
                    <span class="img-centr"><img src="../../assets/delete-512.png" width="16" height="16" /></span>
                </button> 
            </td>
        </tr>
    </tbody>
</table>
</div>