@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.filter{
    background-color: #da9257;
    border: 4px solid #c9c4c0;
    border-radius: 4px;
    overflow: auto;
    padding: 0%;
}

table {
    width: 99.5%;
    margin: 0% 0.25% 1% 0.25%;
}
tr#row:hover {
    /*background: #2bac9a;*/
    cursor: pointer;
    /* box-shadow: inset 1px 2px 5px 2px #4e4c4c; */
    background-color: rgb(224, 255, 255);
}
.column1 {
    padding-left: 1%;
    float: left; 
    min-width: 53em;
}
.column2 {
    padding-left: 1%;
    float: left;
}
button, output {
    margin-left: 0.2em;
    margin-right: 0.2em;  
}
label {
    margin: 0%;
}
button {
    min-width: 3.3em;
    box-shadow: 1px 2px 5px #000000;   
}
.div-left {
    float: left;
}
.lable-nom {
    margin-right: 30%;
}
.lable-nam {
    margin-right: 30%;
}
.lable-dat {
    margin-right: 0%;
}
.button-bottom {
    margin-top: 20%;
}
.button-contr{
    width: 13.5em;
    padding-left: 1%;
    padding-right: 1%;
}
.output-nom{
    width: 6.4em;
    margin-left: 0.2em;
    margin-right: 0.2em;  
    background-color: #da9257;
    height: 2.3em;
}
.output-name {
    width: 18em;
    margin-left: 0.2em;
    margin-right: 0.2em;  
    background-color: #da9257;
    height: 2.3em;
    overflow: auto;
}
.output-date {
    width: 7.5em;
    margin-left: 0.2em;
    margin-right: 0.2em; 
    background-color: #da9257;
    height: 2.3em;
}
.output-sum {
    width: 8.3em;
    margin-left: 0.2em;
    margin-right: 0.2em;  
    background-color: #da9257;
}
.output-val{
    width: 12.5em;
}
.report-marg {
    margin-left: 5%;
}
.import-marg {
    margin-left: 2.2%;
}
/*td {
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
    vertical-align: middle;
}*/
td {
    padding: 0.25%;
}
td#click:hover {
    background: #aca9a8;
    cursor: pointer;
}
.button-table {
    min-width: 30px;
    height: 36px;
}
.button-icon {
    height: 40px;
}
.img-centr {
    margin: 0%;
    padding-bottom: 10%;
}
.div-padding {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}
.div-margin {
    margin-top: 1%;
}
.del-pad {
    padding-top: 3.1%;
}
.table-scroll{
    min-width: 70em;
    overflow: auto;
}
.input-table1 {
    margin: 0%;
    padding: 0%;
    width: 5em!important;
}
.tr-red {
    background-color: rgb(252, 144, 144);
}
.tr-yellow {
    background-color: rgb(255, 255, 89);
}
.tr-white {
    background-color: rgb(240, 240, 240);
}
.contaner-min-right {
    height: 2.3em;
    overflow: auto;
}