/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
html, body { height: 100%;  background: #ececec;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button {
    min-width: 3em;
    box-shadow: 1px 2px 5px #000000;   
}